<form id="credit-transaction" class="transaction" action="{{ submission_url }}" method="post" autocomplete="off">

  {{ form.hidden_tag() }}

  <div class="form-line">

    <div class="form-field bank-field autocomplete">
      {{ form.statement_info.card_info.bank_name.label }}
      {{ form.statement_info.card_info.bank_name }}
    </div>

    <div class="form-field last-four-digits-field autocomplete">
      {{ form.statement_info.card_info.last_four_digits.label }}
      {{ form.statement_info.card_info.last_four_digits }}
    </div>

  </div>

  <div class="form-line">

    <div class="form-field transaction-date-field">
      {{ form.transaction_date.label }}
      {{ form.transaction_date }}
    </div>

    <div class="form-field merchant-field autocomplete suggestable">
      {{ form.merchant.label }}
      {{ form.merchant }}

      {% if form.suggestions.get('merchant') %}
        <div class="form-suggestion merchant-suggestion">
          <span>Suggested: </span>
          <span class="suggested-value merchant">{{ form.suggestions['merchant'] }}</span>
        </div>
      {% endif %}

    </div>

  </div>

  <div class="form-field">
    {{ form.statement_info.issue_date.label }}
    {{ form.statement_info.issue_date }}
  </div>


  <div id="subtransactions">
    {% for subform in form.subtransactions %}
      {% include 'common/transaction_form/subtransaction_subform.html' %}
    {% endfor %}
  </div>

  <div class="add-info buttons">
    <div id="new-subtransaction" class="add-info button">
      + Add Subtransaction
    </div>
  </div>


  <div class="form-field">
    {{ form.submit(class_="button") }}
  </div>

</form>
