{% extends "credit/transaction_form/transaction_form_page.html" %}


{% block javascript %}

  {{ super() }}
  <script type="module" src="{{ url_for('static', filename='js/use-suggested-amount.js') }}">
  </script>

{% endblock %}


{% block title %}
  Update Credit Transaction
{% endblock %}


{% block content %}

  {% with submission_url = url_for('credit.update_transaction', transaction_id=transaction_id) %}
    {% include 'credit/transaction_form/transaction_form.html' %}
  {% endwith %}

{% endblock %}
