{% extends "common/transaction_form/transaction_form_page.html" %}


{% block javascript %}

  <script>
    const AUTOCOMPLETE_ENDPOINT = "{{ url_for('credit.suggest_transaction_autocomplete') }}";
    const INFER_CARD_ENDPOINT = "{{ url_for('credit.infer_card') }}";
    const INFER_STATEMENT_ENDPOINT = "{{ url_for('credit.infer_statement') }}";
    const ADD_SUBTRANSACTION_FORM_ENDPOINT = "{{ url_for('credit.add_subtransaction_fields') }}";
  </script>
  <script type="module" src="{{ url_for('static', filename='js/infer-card.js') }}">
  </script>
  <script type="module" src="{{ url_for('static', filename='js/infer-statement.js') }}">
  </script>
  <script type="module" src="{{ url_for('static', filename='js/use-suggested-merchant.js') }}">
  </script>
  {{ super() }}

{% endblock %}
