<li class="tag-container">
  <div class="tag-area">
    <div class="tag">{{ tag.tag_name }}</div>
    <div class="buttons">
      <img class="new-tag button" src="{{ url_for('static', filename='img/icons/plus-thick.png') }}" />
      <a class="action button delete">
      </a>
    </div>
  </div>

  <ul class="tags subtags">

      {% for tag in tags_hierarchy %}
        {% with tags_hierarchy = tags_hierarchy[tag] %}
          {% include 'credit/tag_tree/subtag_tree.html' %}
        {% endwith %}
      {% endfor %}

    <input class="new-tag" type="text" />
  </ul>

</li>
