<div class="date column">
  <span class="numeric-date">{{ transaction.transaction_date }}</span>
</div>

<div class="merchant text column">
  {{ transaction.merchant }}
</div>

{% if full_view %}
  <div class="notes text column">
    {{ transaction.notes }}
  </div>
{% endif %}

<div class="amount column">
  <span class="dollar-sign">$</span>
  <span>{{ transaction.total|currency }}</span>
</div>

{% if full_view %}
  <div class="card column">
    <span class="bank">{{ transaction.statement_view.card.account.bank.bank_name }}</span>
    -<span class="digits">{{ transaction.statement_view.card.last_four_digits }}</span>
  </div>
{% endif %}
