<div class="date column">
  <span class="numeric-date">{{ transaction.transaction_date }}</span>
</div>

<div class="vendor text column">
  {{ transaction.vendor }}
</div>

{% if full_view %}
  <div class="notes text column">
    {{ transaction.notes }}
  </div>
{% endif %}

<div class="amount column">
  <span class="dollar-sign">$</span>
  <span>{{ transaction.total|currency }}</span>
</div>

{% if full_view %}
  <div class="card column">
    <span class="bank">{{ transaction.statement.card.account.bank.bank_name }}</span>
    -{{ transaction.statement.card.last_four_digits }}
  </div>
{% endif %}

