<div class="overlay">
  <div id="linked-transaction-display">

    <div class="buttons">
      <img class="close button" src="/static/img/icons/x-thick.png">
    </div>

    <div class="linked transaction selected">
      {% include 'credit/transactions_table/linked_credit_transaction.html' %}
    </div>

    <img id="link" src="{{ url_for('static', filename='img/icons/link.png') }}" />

    <div class="linked transaction">
      {% with transaction = linked_transaction %}
        {% include 'credit/transactions_table/linked_bank_transaction.html' %}
      {% endwith %}
    </div>

  </div>
</div>
