<div class="condensed">
  <div class="row">

    <div class="row-content">

      <div class="date column">
        {{ transaction['transaction_date'] }}
      </div>

      <div class="vendor text column">
        {{ transaction['vendor'] }}
      </div>

      {% if 'statement_id' in transaction.keys() %}
        <div class="notes text column">
          {{ transaction['notes'] }}
        </div>
      {% endif %}

      <div class="amount column">
        <span class="dollar-sign">$</span>
        <span>{{ transaction['total']|currency }}</span>
      </div>

      {% if 'bank_name' in transaction.keys() %}
        <div class="card column">
          <span class="bank">{{ transaction['bank_name'] }}</span>
          -{{ transaction['last_four_digits'] }}
        </div>
      {% endif %}

    </div>

    <div class="buttons column">
      <img class="more button" src="{{ url_for('static', filename='img/icons/plus-thick.png') }}" />
    </div>

  </div>
</div>
