[build-system]
requires = ['hatchling', 'hatch-vcs', 'hatch-fancy-pypi-readme']
build-backend = 'hatchling.build'

[project]
name = 'monopyly'
authors = [
    { name = 'Mitch Negus', email = 'mitchnegus57@gmail.com' },
]
description = 'A homemade personal finance manager.'
license = { text = 'GNU GPLv3' }
requires-python = '>=3.9,<3.11'
dependencies = [
    'authanor>=1.0.1',
    'flask>=2.2.2',
    'flask-wtf',
    'markdown>=3.4.3',
    'python-dateutil',
    'sqlalchemy>=2.0.0',
]
keywords = [
  'Finance',
  'Personal Finance',
]
classifiers = [
  'Development Status :: 3 - Alpha',
  'Environment :: Web Environment',
  'Framework :: Flask',
  'Intended Audience :: End Users/Desktop',
  'License :: OSI Approved :: GNU General Public License v3 (GPLv3)',
  'Natural Language :: English',
  'Operating System :: OS Independent',
  'Programming Language :: Python',
  'Topic :: Office/Business :: Financial',
  'Topic :: Office/Business :: Financial :: Accounting',
  'Topic :: Office/Business :: Financial :: Spreadsheet',
]
dynamic = ['readme', 'version']

[project.scripts]
monopyly = 'monopyly.cli.run:main'
backup_db = 'monopyly.cli.backup_db:main'

[project.urls]
Download = 'https://pypi.org/project/monopyly'
Homepage = 'https://github.com/mitchnegus/monopyly'
Repository = 'https://github.com/mitchnegus/monopyly'
Changelog = 'https://github.com/mitchnegus/monopyly/blob/main/CHANGELOG.md'

[tool.hatch.version]
source = 'vcs'

[tool.hatch.build.targets.sdist]
include = [
  '/README.md',
  '/monopyly',
]
exclude = [
  '*.pyc',
]

[tool.hatch.build.hooks.vcs]
version-file = 'monopyly/_version.py'

[tool.hatch.metadata.hooks.fancy-pypi-readme]
content-type = 'text/markdown'

[[tool.hatch.metadata.hooks.fancy-pypi-readme.fragments]]
path = 'monopyly/README.md'

[[tool.hatch.metadata.hooks.fancy-pypi-readme.substitutions]]
pattern = 'src="((?!https?:\/\/)\S+?)"'
replacement = 'src="https://raw.githubusercontent.com/mitchnegus/monopyly/main/\1"'

[[tool.hatch.metadata.hooks.fancy-pypi-readme.substitutions]]
pattern = '\[(.+?)\]\(((?!https?://)\S+?)\)'
replacement = '[\1](https://github.com/mitchnegus/monopyly/blob/main/\g<2>)'

[tool.pytest.ini_options]
filterwarnings = [
    'ignore::DeprecationWarning',
    'ignore:INSECURE:UserWarning',
]

[tool.coverage.run]
omit = [
    'tests/*',
]

[tool.coverage.report]
exclude_lines = [
    'raise NotImplementedError',
]

[tool.black]
force-exclude = 'monopyly/_version.py'

[tool.isort]
profile = 'black'
src_paths = ['monopyly', 'tests']
