beautifulsoup4     # test dependency
coverage           # test dependency
flask>=2.2.2
flask-wtf
ipython            # dev dependency?
numpy
pip
pytest 	           # test dependency
pytest-cov         # test dependency
python-dateutil
setuptools
sqlalchemy>=2.0.0
twine
werkzeug
