beautifulsoup4     # test dependency
coverage           # test dependency
flask
flask-wtf
ipython            # dev dependency?
numpy
pip
pytest 	           # test dependency
pytest-cov         # test dependency
python-dateutil
setuptools
sqlalchemy
werkzeug
