{% extends 'common/transaction_form/subform.html' %}

{% block subform %}

  <div class="form-line">

    <div id="{{ id_prefix }}-bank-field" class="form-field autocomplete bank-field">
      {{ subform.bank_name.label }}
      {{ subform.bank_name }}
    </div>

    <div id="{{ id_prefix }}-account-type-field" class="form-field autocomplete account-type-field">
      {{ subform.type_name.label }}
      {{ subform.type_name }}
    </div>

    <div id="{{ id_prefix }}-last-four-digits-field" class="form-field autocomplete last-four-digits-field">
      {{ subform.last_four_digits.label }}
      {{ subform.last_four_digits }}
    </div>

  </div>

{% endblock %}
