<form id="bank-transaction" class="transaction" action="{{ submission_url }}" method="post" autocomplete="off">

  {{ form.hidden_tag() }}

  {% with subform = form.account_info, id_prefix = 'transaction' %}
    {% include 'banking/transaction_form/bank_info_form.html' %}
  {% endwith %}

  <div class="form-line">

    <div class="form-field transaction-date-field">
      {{ form.transaction_date.label }}
      {{ form.transaction_date }}
    </div>

    <div class="form-field merchant-field autocomplete">
      {{ form.merchant.label }}
      {{ form.merchant }}
    </div>

  </div>

  <div id="subtransactions">
    {% for subform in form.subtransactions %}
      {% include 'common/transaction_form/subtransaction_subform.html' %}
    {% endfor %}
  </div>

  <div class="add-info buttons">

    <div id="new-subtransaction" class="add-info button">
      + Add Subtransaction
    </div>

    {% if not update %}
      <div id="new-transfer" class="add-info button">
        + Record Transfer
      </div>
    {% endif %}

  </div>


  <div class="form-field">
    {% if update == 'transfer' %}
      {{ form.submit(class_="button", onclick="return alert('This transaction is a transfer and is linked to another. You must update that transaction manually, as changes will not be propagated.')") }}
    {% else %}
      {{ form.submit(class_="button") }}
    {% endif %}
  </div>

</form>

