<form id="bank-account" action="{{ submission_url }}" method="post" autocomplete="off">

  {{ form.hidden_tag() }}

  <div id="primary-info">

    <div id="bank-field" class="form-field">
      {{ form.bank_info.bank_id.label }}
      {{ form.bank_info.bank_id }}
    </div>

    <div id="bank-name-field" class="form-field hidden">
      {{ form.bank_info.bank_name.label }}
      {{ form.bank_info.bank_name }}
    </div>

    <div id="account-type-field" class="form-field">
      {{ form.account_type_info.account_type_id.label }}
      {{ form.account_type_info.account_type_id }}
    </div>

    <div id="account-type-name-field" class="form-field hidden">
      {{ form.account_type_info.type_name.label }}
      {{ form.account_type_info.type_name }}
    </div>

    <div class="form-line">

      <div id="last-four-digits-field" class="form-field">
        {{ form.last_four_digits.label }}
        {{ form.last_four_digits }}
      </div>

      <div id="active-field" class="form-field">
        {{ form.active.label }}
        {{ form.active }}
      </div>

    </div>

    <div class="form-line">

  </div>

  <div id="submit-field" class="form-field">
    {{ form.submit(class_="button") }}
  </div>


</form>
