<div class="setting column">

  <div class="date column">
    <div class="stacked-date">
      <div class="month">
        {{ transaction.transaction_date.strftime('%b')|upper }}
      </div>
      <div class="day">
        {{ transaction.transaction_date.strftime('%d')|upper }}
      </div>
      <div class="year">
        {{ transaction.transaction_date.year }}
      </div>
    </div>
    <div class="full-date">
      {{ transaction.transaction_date }}
    </div>
  </div>

  <div class="description column">

    <div class="description-header">
      <div class="brief">
        {% if transaction|is_single_bank_transfer %}
          <span class="transaction-type">Transfer</span>
        {% else %}
          {% if transaction.total > 0 %}
            {% set transaction_type = "Deposit" %}
          {% elif transaction.total < 0 %}
            {% set transaction_type = "Withdrawal" %}
          {% else %}
            {% set transaction_type = "Exchange" %}
          {% endif %}
          <span class="transaction-type">{{ transaction_type }}{{ ":" if transaction.merchant else "" }}</span> {{ transaction.merchant if transaction.merchant else "" }}
        {% endif %}

      </div>
      <div class="total">
        ${{ transaction.total|currency }}
      </div>
    </div>

    <div class="subtransaction-container">
      <!-- Populate with AJAX request -->
    </div>

  </div>

</div>

