{% extends "layout.html" %}

{% block title %}
  Credits
{% endblock %}

{% block header %}
  <h1>Credits</h1>
{% endblock %}

{% block content %}

  <div id="credits" class="about">

    <h3>Image Credits</h3>
    <p>
      The mobile navigation menu toggle button was adapted from <a href="https://www.sliderrevolution.com/resources/css-hamburger-menu/">"Flippin' burgers"</a> by Mikael Ainalem.
    </p>
    <p>
      The chain link icon was adapted from <a href="https://commons.wikimedia.org/wiki/File:Chain_link_icon.png">Wikipedia Commons</a>.
      The original image was created by user Mdowdell and published under the <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">CC BY-SA 3.0 License</a>.
    </p>


    <div class="affiliation-disclaimer">
      <h3>Disclaimer</h3>
      <p>
        At risk of stating the obvious, given that this is a <b>homemade personal finance manager</b>, the <i>Monopyly</i> app is in no way affiliated, associated, authorized, endorsed by, or in any way officially connected with Hasbro, the present publisher and trademark holder of the board game MONOPOLY.
      </p>
    </div>

  </div>

{% endblock %}
