{% extends "layout.html" %}


{% block javascript %}

  <script>
    const HIDE_HOMEPAGE_BLOCK_ENDPOINT = "{{ url_for('core.hide_homepage_block') }}";
  </script>
  <script type="module" src="{{ url_for('static', filename='js/hide-homepage-block.js') }}">
  </script>

{% endblock %}


{% block content %}

  {% if session["show_homepage_block"] %}
    <div id="homepage-block">
      <div class="buttons">
        {% if g.user %}
          <img class="hide button" src="{{ url_for('static', filename='img/icons/x-thick.png') }}">
        {% endif %}
      </div>
      <h2>Don't go broke!</h2>
      <h3>A homemade personal finance manager, built in Flask.</h3>
    </div>
  {% endif %}

  {% if g.user %}
    <div id="homepage-panels">

      <div class="panel-column">

        <div id="banking" class="panel">

          <h2>Bank Accounts</h2>

          <ul class="category">
            <h4>Profile</h4>
            <li>
              <a href="{{ url_for('banking.load_accounts') }}">
                Manage accounts
              </a>
            </li>
            <li>
              <a href="{{ url_for('banking.add_account') }}">
                Add a new account
              </a>
            </li>
            <li>
              <a href="{{ url_for('banking.load_tags') }}">
                Manage transaction tags
              </a>
            </li>
          </ul>

          <h3>Banks</h3>

          {% for bank in bank_accounts %}
            <ul class="category">

              <h4>{{ bank.bank_name }}</h4>
              <li>
                <a href="{{ url_for('banking.load_account_summaries', bank_id=bank.id) }}">
                  See account summaries
                </a>
                <ul>
                  {% for account in bank_accounts[bank]|sort(attribute='account_type_view.type_common_name,last_four_digits') %}
                    <li>
                      <a href="{{ url_for('banking.load_account_details', account_id=account.id) }}">
                        {{ account.account_type_view.type_common_name }} {{ account.last_four_digits }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              <li>
                <a href="{{ url_for('banking.add_transaction', bank_id=bank.id) }}">
                  Create a new transaction
                </a>
              </li>

            </ul>
          {% endfor %}

        </div>

      </div>

      <div class="panel-column">

        <div id="credit" class="panel">

          <h2>Credit Cards</h2>

          <ul class="category">
            <h4>Profile</h4>
            <li>
              <a href="{{ url_for('credit.load_cards') }}">
                Manage cards
              </a>
            </li>
            <li>
              <a href="{{ url_for('credit.add_card') }}">
                Add a new card
              </a>
            </li>
            <li>
              <a href="{{ url_for('banking.load_tags') }}">
                Manage transaction tags
              </a>
            </li>
          </ul>

          <ul class="category">
            <h4>History</h4>
            <li>
              <a href="{{ url_for('credit.load_statements') }}">
                See statement history
              </a>
            </li>
            <li>
              <a href="{{ url_for('credit.load_transactions') }}">
                See transaction history
              </a>
            </li>
            <li>
              <a href="{{ url_for('credit.add_transaction') }}">
                Create a new transaction
              </a>
            </li>
          </ul>

          <h3>Cards</h3>

          {% for card in cards %}
            <ul class="category">

              <h4>{{ card.account.bank.bank_name }} {{ card.last_four_digits }}</h4>
              {% if card.last_statement_id %}
                <li>
                  <a href="{{ url_for('credit.load_statement_details', statement_id=card.last_statement_id) }}">
                    See most recent statement
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ url_for('credit.load_transactions', card_id=card.id) }}">
                  See transaction history
                </a>
              </li>
              <li>
                <a href="{{ url_for('credit.add_transaction', card_id=card.id) }}">
                  Create a new transaction
                </a>
              </li>

            </ul>
          {% endfor %}

        </div>

      </div>

      <div class="panel-column">

        <div id="investments" class="panel">
          <h2>Coming soon!</h2>
        </div>

      </div>

    </div>
  {% else %}
    <div id="homepage-suggestion">
      <p class="login">
        <a href="{{ url_for('auth.login') }}">Login</a> to get started.
      </p>
      <p class="register">
        Not yet registered? <a href="{{ url_for('auth.register') }}">Create an account</a> to begin using the app.
      </p>
  {% endif %}

{% endblock %}
