{% extends "layout.html" %}

{% block title %}
  Credits
{% endblock %}

{% block header %}
  <h1>Credits</h1>
{% endblock %}

{% block content %}

  <h3>Image Credits</h3>

  <p>
    The chain link icon was adapted from <a href="https://commons.wikimedia.org/wiki/File:Chain_link_icon.png">Wikipedia Commons</a>.
    The original image was created by user Mdowdell and published under the <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">CC BY-SA 3.0 License</a>.
  </p>

{% endblock %}
