<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title%}
      {% endblock %}
      {% if request.path != '/' %} – {% endif %}
      Monopyly
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- Ensure emulators also display the page properly -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
    <link rel="icon" type="image/png" sizes="196x196" href="{{ url_for('static', filename='favicon/favicon-192.png') }}" />
    <link rel="icon" type="image/png" sizes="160x160" href="{{ url_for('static', filename='favicon/favicon-160.png') }}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96.png') }}" />
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='favicon/favicon-64.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon/favicon-57.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/favicon-114.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/favicon-72.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/favicon-144.png') }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/favicon-60.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/favicon-120.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/favicon-76.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/favicon-152.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/favicon-180.png') }}" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/favicon-144.png') }}" />
    <meta name="msapplication-config" content="{{ url_for('static', filename='favicon/browserconfig.xml') }}" />
    <!-- ****** faviconit.com favicons ****** -->
    <!-- Use Google JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"><\/script>')
    </script>
    <!-- Use Chartist via CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@1.5.0/dist/index.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chartist@1.5.0/dist/index.umd.min.js"></script>
    <script>
      window.Chartist || document.write('<script src="{{ url_for('static', filename='chartist-1.5.0.min.js') }}"><\/script>')
    </script>
    <!-- Custom application JavaScript -->
    <script type="module" src="{{ url_for('static', filename='js/toggle-navigation.js') }}">
    </script>
    {% block javascript %}
    {% endblock %}

  </head>

  <body>

    <header id="masthead">
      <div class="container">

        <a href="{{ url_for('core.index') }}">
          <h1 class="monopyly-logo">
            Monopyly
            {%- if config['DEBUG'] -%}
              <span class="development-mode">.dev</span>
            {%- endif -%}
          </h1>
        </a>

        <nav id="header-menu">
          <svg class="mobile-menu mobile-menu-rotate toggle-button" viewBox="0 0 100 100">
            <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
            <path class="line middle" d="m 30,50 h 40" />
            <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
          </svg>
          <ul class="menu-links"></strong>
            <li><a href="{{ url_for('core.index') }}">Home</a></li>
            <li><a href="{{ url_for('core.about') }}">About</a></li>
            {% if g.user %}
              <li>
                <a href="{{url_for('core.load_profile') }}" class="username">
                  {{ g.user.username }}
                </a>
              </li>
              <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
              <li><a href="{{ url_for('auth.register') }}">Register</a></li>
              <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
          </ul></strong>
        </nav>

      </div>
    </header>

    <div id="page">

      <aside class="sidebar">
        {% block left_sidebar %}{% endblock %}
      </aside>

      <section class="content container">

        <header id="content-header">
          {% block header %}{% endblock %}
        </header>

        {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
      </section>

      <aside class="sidebar">
        {% block right_sidebar %}{% endblock %}
      </aside>

    </div>

    <footer id="site-info">
      <p>
        <span id="version"><i>Monopyly</i> {{ app_version }}</span>
        –
        <span id="copyright">{{ copyright_statement }}, Mitch Negus</span>
        </p>
    </footer>

  </body>
</html>
