<form id="card" action="{{ submission_url }}" method="post" autocomplete="off">

  {{ form.hidden_tag() }}

  <div id="primary-info">

    <div id="account-field" class="form-field">
      {{ form.account_info.account_id.label }}
      {{ form.account_info.account_id }}
    </div>

    <div class="form-line">

      <div id="last-four-digits-field" class="form-field">
        {{ form.last_four_digits.label }}
        {{ form.last_four_digits }}
      </div>

      <div id="active-field" class="form-field">
        {{ form.active.label }}
        {{ form.active }}
      </div>

    </div>

  </div>

  <div id="secondary-account-info" class="secondary-info hidden">

    <div class="form-line">

      <div id="bank-field" class="form-field">
        {{ form.account_info.bank_info.bank_id.label }}
        {{ form.account_info.bank_info.bank_id }}
      </div>

    </div>


    <div id="secondary-bank-info" class="secondary-info form-line hidden">

      <div id="bank-name-field" class="form-field">
        {{ form.account_info.bank_info.bank_name.label }}
        {{ form.account_info.bank_info.bank_name }}
      </div>

    </div>

    <div class="form-line">

      <div id="statement-issue-day-field" class="form-field">
        {{ form.account_info.statement_issue_day.label }}
        {{ form.account_info.statement_issue_day }}
      </div>

      <div id="statement-due-day-field" class="form-field">
        {{ form.account_info.statement_due_day.label }}
        {{ form.account_info.statement_due_day }}
      </div>

    </div>

  </div>

  <div id="submit-field" class="form-field">
    {{ form.submit(class_="button") }}
  </div>


</form>
