{% extends "common/form_page.html" %}


{% block javascript %}

  <script type="module" src="{{ url_for('static', filename='js/display-new-credit-account-inputs.js') }}">
  </script>

{% endblock %}


{% block title %}
  New Card
{% endblock %}


{% block content %}

  {% with submission_url = url_for('credit.add_card') %}
    {% include 'credit/card_form/card_form.html' %}
  {% endwith %}

  {% if transfer_statement_form %}
    {% include 'credit/card_form/transfer_statement_inquiry.html' %}
  {% endif %}

{% endblock %}
