<div class="overlay">
  <div id="transfer-statement-inquiry" class="modal">
    <div class="modal-box">

      <h4>Your card has been saved successfully.</h4>
      <p>
        It appears that this new card may be a replacement for the other active card on this account (ending in {{ prior_card.last_four_digits }}).
        A statement for that card already exists in the system.
        Would you like to transfer that statement and all of the associated transactions to this card?
      </p>

      <form action="{{ url_for('credit.transfer_statement', account_id=card.account_id, card_id=card.id, prior_card_id=prior_card.id) }}" method="post">

        <div class="form-field">

          {{ transfer_statement_form.hidden_tag() }}

          {% for option in transfer_statement_form.transfer %}
            <div class="form-option">
              {{ option }}{{ option.label }}
            </div>
          {% endfor %}

        </div>

        {{ transfer_statement_form.submit }}

      </form>

      <p class="note">
        <span class="note-title">NOTE</span> Selecting 'Yes' will deactivate the former card, so that the new card will be the only active card on this account.
      </p>

    </div>
  </div>
</div>

