<div class="modal">
  <p>
    Your card has been saved successfully.
  </p>
  <p>
    It appears that this new card may be a replacement for the other active card on this account (ending in {{ prior_card['last_four_digits'] }}).
    A statement for that card already exists in the system.
    Would you like to transfer that statement and all of the associated transactions to this card?
  </p>
  <p>
    NOTE: Selecting 'Yes' will deactivate the former card, so that the new card will be the only active card on this account.
  </p>

  <form action="{{ url_for('credit.transfer_statement', card_id=card['id'], prior_card_id=prior_card['id']) }}" method="post">

    <div>
      {{ transfer_statement_form.transfer }}
    </div>

    {{ transfer_statement_form.submit }}

  </form>

</div>

