<div class="date">
  {{ transaction.transaction_date }}
</div>

<div class="description-header">
  <div class="account">
    {{ transaction.account_view.bank.bank_name }} ({{ transaction.account_view.last_four_digits }})
    <div class="account-type">
      {{ transaction.account_view.account_type_view.type_common_name }}
    </div>
  </div>
  <div class="total">
    ${{ transaction.total|currency }}
  </div>
</div>

<div class="notes">
  {{ transaction.notes }}
</div>

<div class="buttons">
  <a class="button" href="{{ url_for('banking.update_transaction', transaction_id=transaction.id) }}">
    <img class="icon" src="{{ url_for('static', filename='img/icons/edit.png') }}" />
  </a>
  <a class="button" href="{{ url_for('banking.load_account_details', account_id=transaction.account_id) }}">
    <img class="icon" src="{{ url_for('static', filename='img/icons/statement-thick.png') }}" />
  </a>
</div>
