{% set bank_transaction_template = 'common/transactions_table/linked_bank_transaction.html' %}
{% set credit_transaction_template = 'common/transactions_table/linked_credit_transaction.html' %}

<div class="overlay">
  <div id="linked-transaction-display" class="modal">

    <div class="buttons">
      <img class="close button" src="/static/img/icons/x-thick.png">
    </div>

    <div class="linked-transaction selected modal-box">
      {% if selected_transaction_type == 'bank' %}
        {% include bank_transaction_template %}
      {% elif selected_transaction_type == 'credit' %}
        {% include credit_transaction_template %}
      {% endif %}
    </div>

    <img id="link" src="{{ url_for('static', filename='img/icons/link.png') }}" />

    <div class="linked-transaction modal-box">
      {% with transaction = linked_transaction %}
        {% if transaction.subtype == 'bank' %}
          {% include bank_transaction_template %}
        {% elif transaction.subtype == 'credit' %}
          {% include credit_transaction_template %}
        {% endif %}
      {% endwith %}
    </div>

  </div>
</div>

