{% extends 'layout.html' %}


{% block header %}

	<h1>
		{% block title %}
			Account Details
		{% endblock %}
	</h1>

	<nav id="sidebar-nav-menu">
		<ul>

			<li>
				<a class="action" href="{{ url_for('credit.show_cards') }}">
					<img class="button-icon" src="{{ url_for('static', filename='img/arrow-left.png') }}" />
				</a>
			</li>

			<li>
				<a class="action" href="{{ url_for('credit.new_card') }}">
					<img class="button-icon" src="{{ url_for('static', filename='img/plus.png') }}" />
				</a>
			</li>

		</ul>
	</nav>

{% endblock %}


{% block content %}

	<div id="account-details">

		<table id="account-info">

			<tr>
				<th scope="row">Bank</th>
				<td>{{ account['bank'] }}<td>
			</tr>

			<tr>
				<th scope="row">Cards</th>
				<td></td>
			</tr>

			{% for card in cards %}
				<tr>
					<th></th>
					<td>
						****-{{ card['last_four_digits'] }}
					  ({{ 'Active' if card['active'] else 'Inactive' }})
					</td>
				</tr>
			{% endfor %}

			<tr>
				<th scope="row">Statement Issue Day</th>
				<td>{{ account['statement_issue_day'] }}</td>
			</tr>

			<tr>
				<th scope="row">Statement Due Day</th>
				<td>{{ account['statement_due_day'] }}</td>
			</tr>

		</table>

		<form method="get">
			<div class="form-line">

				<div class="form-field">
					<button type="submit" formaction="{{ url_for('credit.update_account', account_id=account['id']) }}">
						<img class="button-icon" src="{{ url_for('static', filename='img/edit.png') }}">
						Update
					</button>
				</div>

				<div class="form-field">
					<button class="danger" type="submit" formaction="{{ url_for('credit.delete_account', account_id=account['id']) }}" onclick="return confirm('Are you sure you want to delete this account?');">
						<img class="button-icon" src="{{ url_for('static', filename='img/delete.png') }}">
						Delete
					</button>
				</div>

			</div>
	  </form>

	</div>

{% endblock %}
