<form id="card" action="{{ submission_url }}" method="post" autocomplete="off">

	{{ form.hidden_tag() }}
	
	<div id="primary-info">

		<div id="account-field" class="form-field">
			{{ form.account_id.label }}
			{{ form.account_id }}
		</div>

		<div class="form-line">

			<div id="bank-field" class="form-field">
				{{ form.bank.label }}
				{{ form.bank }}
			</div>
	
			<div id="last-four-digits-field" class="form-field">
				{{ form.last_four_digits.label }}
				{{ form.last_four_digits }}
			</div>
	
			<div id="active-field" class="form-field">
				{{ form.active.label }}
				{{ form.active }}
			</div>

		</div>

		<div class="form-line">

	</div>

	<div id="secondary-info" class="form-line hidden">
		
		<div id="statement-issue-day-field" class="form-field">
			{{ form.statement_issue_day.label }}
			{{ form.statement_issue_day }}
		</div>
	
	
		<div id="statement-due-day-field" class="form-field">
			{{ form.statement_due_day.label }}
			{{ form.statement_due_day }}
		</div>

	</div>

	<div id="submit-field" class="form-field">
		{{ form.submit(class_="button") }}
	</div>


</form>
