{% for card in cards %}

	<a class="credit-card-block" href="{{ url_for('credit.show_card', card_id=card['id']) }}">
		<div class="credit-card-block">
			<img class="credit-card" src="{{ url_for('static', filename='img/') }}{{ card['bank'].lower() }}-card.png">
			<div class="card-number">▐▐▐▐ ▐▐▐▐ ▐▐▐▐ {{ card['last_four_digits'] }}</div>
		</div>
	</a>

{% endfor %}

<a class="credit-card-block" href="{{ url_for('credit.new_card') }}">
	<div class="credit-card-block">
		<img class="credit-card" src="{{ url_for('static', filename='img/new-card.png') }}">
	</div>
</a>
