{% extends 'layout.html' %}

{% block header %}
	<h1>
		{% block title %}
			Transaction {{ 'Updated' if update else 'Submitted' }}
		{% endblock %}
	</h1>
{% endblock %}

{% block content %}
	<div id="receipt">
		<p id="receipt-title">
			The transaction was {{ 'updated' if update else 'submitted' }} successfully.
		</p>
		<br>
		<p><b>Card:</b> {{ card['bank'] }} ****-{{ card['last_four_digits'] }}</p>
		{% for field in transaction %}
		<p><b>{{ field_names[field] }}:</b> {{ transaction[field] }}</p>
		{% endfor %}
		{% if g.user %}
			<br>
			<a href="{{ url_for('credit.show_transactions') }}">
				See transaction history
			</a>
			<br>
			<a href="{{ url_for('credit.new_transaction') }}">
				Create a new transaction
			</a>
		{% endif %}
	</div>
{% endblock %}
