<li class="tag-container">
	<div class="tag-area">
		<div class="tag">{{ tag['tag_name'] }}</div>
		<div class="buttons">
			<img class="new-tag button" src="{{ url_for('static', filename='img/icons/plus-thick.png') }}" />
			<a class="action button delete" href="{{ url_for('credit.delete_tag', tag_id=tag[0]) }}" onclick="return confirm('Are you sure you want to delete this tag?');">
			</a>
		</div>
	</div>

	<ul class="tags subtags">

			{% for tag in tags_heirarchy %}
				{% with tags_heirarchy = tags_heirarchy[tag] %}
					{% include 'credit/subtag_tree.html' %}
				{% endwith %}
			{% endfor %}

		<input class="new-tag" type="text" />
	</ul>

</li>
