{% extends 'layout.html' %}


{% block header %}

	<h1>
		{% block title %}
			Transaction Tags
		{% endblock %}
	</h1>

{% endblock %}


{% block content %}

	<div id="transaction-tags">
	
		<h2>Categories</h2>

		<div id="categories-container" class="tag-container">

			{% with categories = tags_heirarchy['categories'] %}
				{% include 'credit/category_tree.html' %}
			{% endwith %}

		</div>


		<h2>Other Tags</h2>

		<div id="tags-container" class="tag-container">

			{% with tags = tags_heirarchy['tags'] %}
				{% include 'credit/tag_list.html' %}
			{% endwith %}

		</div>

	</div>

{% endblock %}


{% block javascript %}

	<script>
		const NEW_TAG_ENDPOINT = "{{ url_for('credit.new_tag') }}";
	</script>
	<script type="module" src="{{ url_for('static', filename='js/add_tags.js') }}">
	</script>

{% endblock %}
