{% extends 'layout.html' %}


{% block header %}

	<h1>
		{% block title %}
			Transaction Tags
		{% endblock %}
	</h1>

{% endblock %}


{% block content %}

	<div id="transaction-tags">

		<div id="categories">
	
			{% if tags_heirarchy['categories'] %}
				<h2>Categories</h2>
				<ul>
					{% with categories = tags_heirarchy['categories'] %}
						{% include 'credit/subcategory_tree.html' %}
					{% endwith %}
				</ul>
			{% endif %}
	
		</div>
	
		<div id="tags">
	
			{% if tags_heirarchy['tags'] %}
				<h2>Other Tags</h2>
				<ul>	
				{% for tag in tags_heirarchy['tags'] %}
					<li>{{ tag }}</li> 
				{% endfor %}
				</ul>
			{% endif %}
	
		</div>

	</div>

{% endblock %}
