<table id="transactions" class="transactions">

	<tr>
		<th class="card">Card</th>
		<th class="date">
			Date
			<img class="sort-icon asc{{ ' selected' if sort_order == 'ASC' else '' }}" src="{{ url_for('static', filename='img/sort-asc.png') }}" />
			<img class="sort-icon desc{{ ' selected' if sort_order == 'DESC' else '' }}" src="{{ url_for('static', filename='img/sort-desc.png') }}" />
		</th>
		<th class="text">Vendor</th>
		<th class="price">Price</th>
		<th class="text">Notes</th>
		<th class="date">Statement Date</th>
		<th class="edit"></th>
	</tr>

	{% for transaction in transactions %}

		<tr>
			<td class="card">
				<span class="bank">{{ transaction['bank'] }}</span>
				-{{ transaction['last_four_digits'] }}
			</td>
			<td class="date">{{ transaction['transaction_date'] }}</td>
			<td>{{ transaction['vendor'] }}</td>
			<td class="price">${{ '${:,.2f}'.format(transaction['price']) }}</td>
			<td class="notes">
				<div class="notes">{{ transaction['notes'] }}</div>
			</td>
			<td class="date">{{ transaction['issue_date'] }}</td>
			<td>
				<a class"transaction" href="{{ url_for('credit.show_transaction', transaction_id=transaction['id']) }}">
					<img class="edit-icon hide" src="{{ url_for('static', filename='img/edit.png') }}" />
				</a>
			</td>
		</tr>

	{% endfor %}

</table>
