{% extends 'layout.html' %}

{% block left_sidebar %}
	<nav id="transactions-menu">
		<ul>
			<li>
				<a href="#top">
					<img class="button-icon" src="{{ url_for('static', filename='img/arrow-up.png') }}" />
				</a>
			</li>
			<li>
				<a class="action" href="{{ url_for('credit.new_transaction') }}">
					<img class="button-icon" src="{{ url_for('static', filename='img/plus-symbol.png') }}" />
				</a>
			</li>
			<li>
				<a class="action" href="{{ url_for('credit.show_transactions') }}">
					<img class="button-icon" src="{{ url_for('static', filename='img/refresh-symbol.png') }}" />
				</a>
			</li>
			<li>
				<a href="#bottom">
					<img class="button-icon" src="{{ url_for('static', filename='img/arrow-down.png') }}" />
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}

{% block header %}
	<h1>
		{% block title %}
			Transactions
		{% endblock %}
	</h1>
{% endblock %}

{% block content %}
	<a name="top"></a>
	<div id="card-filter">
		{% for card in cards %}
		<a id="{{ card['bank'] }}-{{ card['last_four_digits'] }}" class="card {{ 'active selected' if card['active'] else 'inactive' }}">
				{{ card['bank'] }} (-{{card['last_four_digits'] }})
			</a>
		{% endfor %}
	</div>
	<div id="transaction-table-container">
		{% include 'credit/transaction_table.html' %}
	</div>
	<a name="bottom"></a>
{% endblock %}

{% block javascript %}
	<script>var $TABLE_UPDATE_ENDPOINT = "{{ url_for('credit.update_transaction_table') }}";</script>
	<script src="{{ url_for('static', filename='js/update_transaction_table.js') }}">
	</script>
{% endblock %}
