{% extends 'layout.html' %}


{% block header %}

	<h1>
		{% block title %}
			Transaction Details
		{% endblock %}
	</h1>

	<nav id="sidebar-nav-menu">
		<ul>

			<li>
				<a class="action" href="{{ url_for('credit.show_transactions') }}">
					<img class="button-icon" src="{{ url_for('static', filename='img/arrow-left.png') }}" />
				</a>
			</li>

			<li>
				<a class="action" href="{{ url_for('credit.new_transaction') }}">
					<img class="button-icon" src="{{ url_for('static', filename='img/plus-symbol.png') }}" />
				</a>
			</li>

		</ul>
	</nav>

{% endblock %}


{% block content %}

	<table id="transaction-details">

		<tr>
			<th scope="row" class="card">Card</th>
			<td class="card">
				{{ transaction['bank'] }} ****-{{ transaction['last_four_digits'] }}
			</td>
		</tr>

		<tr>
			<th scope="row" class="date">Date</th>
			<td class="date">{{ transaction['transaction_date'] }}</td>
		</tr>

		<tr>
			<th scope="row" class="text">Vendor</th>
			<td class="text">{{ transaction['vendor'] }}</td>
		</tr>

		<tr>
			<th scope="row" class="price">Price</th>
			<td class="price">{{ '${:.2f}'.format(transaction['price']) }}</td>
		</tr>

		<tr>
			<th scope="row" class="text">Notes</th>
			<td class="text">{{ transaction['notes'] }}</td>
		</tr>

		<tr>
			<th scope="row" class="date">Statement Date</th>
			<td class="date">{{ transaction['issue_date'] }}</td>
		</tr>

	</table>

	<form action="{{ url_for('credit.update_transaction', transaction_id=transaction['id']) }}" method="get">
		<button type="submit">
			<img class="button-icon" src="{{ url_for('static', filename='img/edit-icon.png') }}">
	    Update
		</button>
  </form>

	<form action="{{ url_for('credit.delete_transaction', transaction_id=transaction['id']) }}" method="post">
		<button class="danger" type="submit" onclick="return confirm('Are you sure you want to delete this transaction?');">
			<img class="button-icon" src="{{ url_for('static', filename='img/delete-icon.png') }}">
	    Delete
		</button>
  </form>

{% endblock %}
