{% extends "layout.html" %}


{% block header %}
	<h1>{% block title %}{% endblock %}</h1>
{% endblock %}


{% block javascript %}

	<script>
		var $AUTOCOMPLETE_ENDPOINT = "{{ url_for('credit.suggest_autocomplete') }}";
		var $INFER_CARD_ENDPOINT = "{{ url_for('credit.infer_card') }}";
		var $INFER_STATEMENT_ENDPOINT = "{{ url_for('credit.infer_statement') }}";
	</script>
	<script src="{{ url_for('static', filename='js/autocomplete_transaction.js') }}">
	</script>
	<script src="{{ url_for('static', filename='js/infer_card.js') }}">
	</script>
	<script src="{{ url_for('static', filename='js/infer_statement.js') }}">
	</script>

{% endblock %}
