<form id="transaction" action="{{ submission_url }}" method="POST" autocomplete="off">

	{{ form.hidden_tag() }}

	<div id="card-info" class="form-line">

		<div id="bank-field" class="form-field autocomplete">
			{{ form.bank.label }}
			{{ form.bank }}
		</div>

		<div id="last-four-digits-field" class="form-field autocomplete">
			{{ form.last_four_digits.label }}
			{{ form.last_four_digits }}
		</div>

	</div>

	<div class="form-field">
		{{ form.transaction_date.label }}
		{{ form.transaction_date }}
	</div>

	<div class="form-field autocomplete">
		{{ form.vendor.label }}
		{{ form.vendor }}
	</div>

	<div class="form-field">
		{{ form.amount.label }}
		{{ form.amount }}
	</div>

	<div class="form-field autocomplete">
		{{ form.notes.label }}
		{{ form.notes }}
	</div>

	<div class="form-field">
		{{ form.issue_date.label }}
		{{ form.issue_date }}
	</div>

	<div class="form-field">
		{{ form.submit(class_="button") }}
	</div>

</form>
