<div class="discrepant-activities transactions-table">

  {% for transaction, activity in discrepant_records.items() %}

    <div class="reconciliation-activity discrepant-activity" data-transaction-id="{{ transaction.id }}">

      <div class="activity-info">
        <div class="date">{{ activity.transaction_date }}</div>
        <div class="text">{{ activity.description }}</div>
        <div class="amount">
          <span class="dollar-sign">$</span>
          {{ activity.total|currency }}
        </div>
      </div>

      <a class="button" href="{{ url_for('credit.update_transaction', transaction_id=transaction.id, transaction_date=activity.transaction_date, total=activity.total) }}">
        <img class="icon" src="{{ url_for('static', filename='img/icons/edit.png') }}" />
      </a>

    </div>

  {% endfor %}

</div>

