<div class="overlay">
  <div id="statement-reconciliation" class="modal">

    <div class="modal-box">

      <div class="buttons">
        <img class="close button" src="/static/img/icons/x-thick.png">
      </div>

      <p class="instructions">
        Load a CSV file containing credit activity for comparison against this statement.
      </p>

      <form action="{{ url_for('credit.load_statement_reconciliation_details', statement_id=statement_id) }}" method="post" enctype="multipart/form-data">
        <label for="activity-file-upload">Activity Filename</label>
        <input id="activity-file-upload" type="file" name="activity-file" accept="text/csv" />
        <input class="button" type="submit" value="Reconcile Activity" />
      </form>

    </div>

  </div>
</div>
