{% extends 'common/transaction_form/subform.html' %}

{% block subform %}

  <div class="form-line">

    <div class="form-field subtotal-field">
      {{ subform.subtotal.label }}
      <span class="currency-symbol">$</span>
      {{ subform.subtotal(class_="currency") }}
    </div>

    <div class="form-field note-field autocomplete">
      {{ subform.note.label }}
      {{ subform.note }}
    </div>

  </div>

  <div class="form-field autocomplete">
    {{ subform.tags.label }}
    {{ subform.tags }}
  </div>

{% endblock %}
