{% extends 'common/transaction_form/subform.html' %}

{% block subform %}

  <div class="form-line">

    <div class="form-field subtotal-field suggestable">

      {{ subform.subtotal.label }}
      <span class="currency-symbol">$</span>
      {{ subform.subtotal(class_="currency") }}

      {% if form and form.suggestions.get('amount') %}
        <div class="form-suggestion amount-suggestion">
          <span>Suggested: </span>
          <span class="suggested-value currency">${{ form.suggestions['amount']|currency }}</span>
        </div>
      {% endif %}

    </div>

    <div class="form-field note-field autocomplete">
      {{ subform.note.label }}
      {{ subform.note }}
    </div>

  </div>

  <div class="form-field autocomplete">
    {{ subform.tags.label }}
    {{ subform.tags }}
  </div>

{% endblock %}
