<div id="bank-account-summaries">

  {% for account_type in type_accounts %}
    <div class="account-type-block grouping">

      {% for account in type_accounts[account_type] %}

      <a class="account-block button-block" href="{{ url_for('banking.load_account_details', account_id=account.id) }}">
          <div class="title">
            <span class="digits">{{ account.last_four_digits }}</span>
            <b>{{ account.account_type.type_name }}</b>
          </div>
          <div class="balance">${{ account.balance|currency }}</div>
        </a>

      {% endfor %}

    </div>
  {% endfor %}

</div>
