{% extends 'layout.html' %}


{% block left_sidebar %}

  <nav id="sidebar-nav-menu">
    <ul>

      <li>
        <a class="button" href="#top">
          <img class="icon" src="{{ url_for('static', filename='img/icons/arrow-up.png') }}" />
        </a>
      </li>

      <li>
        <a class="action button" href="{{ url_for('banking.add_account', bank_id=bank.id) }}">
          <img class="icon" src="{{ url_for('static', filename='img/icons/plus.png') }}" />
        </a>
      </li>

      <li>
        <a class="button" href="#bottom">
          <img class="icon" src="{{ url_for('static', filename='img/icons/arrow-down.png') }}" />
        </a>
      </li>

    </ul>
  </nav>

{% endblock %}


{% block header %}

  <a name="top"></a>

  <h1>
    {% block title %}Bank Account Summaries{% endblock %}
  </h1>

{% endblock %}


{% block content %}

  <div id="bank-account-summaries-container">
    <h2 class="bank">{{ bank.bank_name }}</h2>
    <h3 class="balance">${{ bank_balance|currency }}</h3>

    {% include 'banking/account_summaries.html' %}

  </div>
  <a name="bottom"></a>

{% endblock %}
