<div id="account-summary" class="summary-box">

  <div class="account suptitle">
    {{ account.bank.bank_name }} {{ account.last_four_digits }}
  </div>

  <div class="title">
    {{ account.account_type_view.type_common_name.upper() }}
  </div>

  <div class="balance">
    {% with account_balance = account.balance|currency %}
      {% set vbox_width = calculate_summary_balance_width(account_balance) %}
      <svg viewBox="0 0 {{ vbox_width }} 100">
        <text x="0" y="75" fill="currentColor">$</text>
        <text x="75" y="75" fill="currentColor">{{ account_balance }}</text>
      </svg>
    {% endwith %}
  </div>

  {% if account.balance != account.projected_balance %}
    <div class="projected-balance subtitle">
      <span>Projected balance: </span>
      <span class="amount{{ ' negative' if account.projected_balance < 0 }}">
        ${{ account.projected_balance|currency }}
      </span>
    </div>
  {% endif %}

</div>
