/*-------------------------------------------*/
/*     Style sheet for the Monopyly app      */
/*-------------------------------------------*/

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444444;
}

form {
	width: 50%;
	margin: auto;
}

input {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

input[type="text"],
select {
	box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 3px;
}


/*
 * Create dark grey header with a white logo
 */
#masthead {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
  height: 50px;
  width: 100%;
  background-color: #2b2b2b;
	border-style: solid;
	border-color: #85bb65;
	border-width: 0 0 4px 3px;
  opacity: 0.9;
	z-index: 99;
}

#masthead a {
	text-decoration: none;
}

#masthead .container {
	display: flex;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.monopyly-logo {
  margin: 0;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
}

.monopyly-logo:hover {
  color: #f5f5f5;
}


/*
 * Display navigation links inline
 */
#nav-menu {
	margin-left: auto;
}

#nav-menu li {
	display: inline;
}

#nav-menu li + li {
  margin-left: 35px;
}

#nav-menu li a {
  color: #bbbbbb;
}

#nav-menu li a:hover {
  color: #cdcdcd;
}


/*
 * Handle the main body content area for pages
 */
#page {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 30px;
}

#page .container {
	width: 80%;
}

aside.sidebar {
	height: 100%;
	width: 10%;
	min-width: 25px;
	padding: 0 10px;
}

#content-header h1 {
  margin: 40px 0 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
  text-align: center;
  font-size: 2em;
  letter-spacing: -2px;
}


/*
 * General object characteristics
 */
form .form-line {
	display: flex;
	justify-content: space-between;
}

form .form-field {
	margin: 0 5px;
}

form .form-line .form-field {
	flex-grow: 1;
}

form label {
  display: block;
	padding: 10px 0;
	font-size: 1.2em;
}

form button,
form input,
form select {
	width: 100%;
	box-sizing: border-box;
  border-radius: 3px;
  background-color: #fafafa;
	font-size: 1.1em;
	filter: none; /*removes FireFox autofill background*/
}

form input {
  padding: 5px;
}

form select {
	padding: 4px 5px;
}

form input[type="checkbox"] {
	cursor: pointer;
}

form button,
form input.button {
  display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px; 
	padding: 10px;
  background-color: #fbfbfb;
  background-image: linear-gradient(#fbfbfb, #efefef);
  border:1px solid #d8d8d8;
  text-align: center; 
  color: #333333;
  font-weight:bold; 
}

form button:hover,
form input.button:hover {
	filter: brightness(0.98);
  cursor: pointer;
}

form button .button-icon {
	height: 40px;
	width: 40px;
	margin: 0 10px;
	filter: brightness(0.8);
}

form button.dark-background .button-icon {
	filter: brightness(1.2);
	opacity: 0.5;
}

form .autocomplete {
	position: relative;
}

form .autocomplete-box {
	position: absolute; top: 98%;
	left: 0;
	width: 100%;
	padding-right: 10px;
	background-color: white;
  border: 1px solid #cccccc;
	z-index: 99;
}

form .autocomplete-box .item {
	width: 100%;
	padding: 3px 5px;
	cursor: pointer;
}

form .autocomplete-box .item:hover {
	background-color: #cccccc;
}

form .autocomplete-box .item.active {
	background-color: #85bb65;
	color: black;
	font-weight: bold;
}

#sidebar-nav-menu {
	position: fixed;
	top: 50px;
	left: 4%;
	width: 5%;
}

#sidebar-nav-menu ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

#sidebar-nav-menu li {
	display: block;
	margin: 1px 0;
}

#sidebar-nav-menu .button-icon {
	height: 35px;
	width: 35px;
	margin: 3px auto;
}


.paid-notice {
  color: #85bb65;
	font-weight: bold;
	letter-spacing: 1px;
}


/*
 * Style the widget for performing "live" database updates
 */
.update-db-widget {
	display: flex;
	align-items: center;
}

.update-db-widget .widget-text {
	position: relative;
	font-size: inherity;
	font-weight: inherit;
}

.update-db-widget .widget-display {
	padding: 0 5px;
	font-size: inherity;
	font-weight: inherit;
}

.update-db-widget .widget-input {
	position: absolute;
	top: 0;
	display: none;
	width: 100%;
	margin-top: -1px;
	padding: 0 4px;
	font-size: inherity;
	font-weight: inherit;
}

.update-db-widget .widget-edit-icon {
	height: 20px;
	width: 20px;
	margin-left: 5px;
	cursor: pointer;
	visibility: hidden;
}

.update-db-widget:hover .widget-edit-icon {
	visibility: visible;
}


/*
 * Style the gadget to reveal text (sideways slide) on hover
 */
.slide-text {
	position: relative;
	height: 1.2em;
	width: 150px;
	overflow: hidden;
}

.slide-text .sleeve {
	position: relative;
	right: -100%;
	width: min-content;
	transition: 0.4s;
} 

.slide-text:hover .sleeve {
	transform: translateX(-100%);
}

.slide-text .sleeve .main {
	position: absolute;
	transform: translateX(-100%);
	transition: 0.2s;
}

.slide-text:hover .sleeve .main {
	padding-right: 5px;
}


/*
 * Style the gadget to flip text on hover
 */
.flip-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.2em;
	width: 100px;
}

.flip-text .flip-text-inner {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
}

.flip-text .front,
.flip-text .back {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: transform 0.4s;
}

.flip-text:hover .front {
	transform: rotateX(180deg);
}

.flip-text .back {
	transform: rotateX(180deg);
}

.flip-text:hover .back {
	transform: rotateX(0deg);
}


/* 
 * Style the card filter
 */
#card-filter {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#card-filter .card {
	position: relative;
	margin: 0 3px;
	padding: 1px 10px;
	background-color: #eeeeee;
	border-radius: 10px;
	text-align: center;
	font-size: 8pt;
	cursor: pointer;
}

#card-filter .card:hover {
	background-color: #cccccc; 
}

#card-filter .inactive.card {
	color: #999999;
}

#card-filter .card.selected {
	background-color: #444444;
	color: #efefef;
}

#card-filter .card.selected:hover {
	background-color: #333333;
	color: #bbbbbb;
}


/*
 * Style tables for presenting transaction details
 */
table.transactions {
	border-collapse: collapse;
	font-size: 9pt;
}

table.transactions tr {
	border: 1pt #eeeeee;
	border-style: solid none;
}

table.transactions tr:hover td {
	background-color: #fafafa;
}

table.transactions tr .more {
	visibility: hidden;
	width: 16px;
}

table.transactions tr:hover .more {
	visibility: visible;
}

table.transactions th,
table.transactions td {
	padding: 5px 10px;
}

table.transactions th.card,
table.transactions td.card {
	text-align: right;
}

table.transactions th.card {
	padding-right: 30px;
}

table.transactions td.card .bank {
	display: inline-block;
}
@media screen and (max-width: 1200px) {
	table.transactions td.card .bank {
		display: none;
	}
}

table.transactions th.date,
table.transactions td.date {
	text-align: center;
}

table.transactions th .sort-icon {
	display: none;
	height: 10px;
	width: 10px;
	cursor: pointer;
}

table.transactions th .sort-icon.selected {
	display: inline;
}

table.transactions th.text,
table.transactions td.text {
	text-align: left;
}

table.transactions th.amount,
table.transactions td.amount {
	text-align: right;
}

table.transactions td.notes{
	max-width: 250px;	
	text-align: left;
}

table.transactions td div.notes{
	width: 100%;
	text-align: left;
	white-space: nowrap;
	overflow: auto;
}


/*
 * Customization for the 'Home' page
 */
#homepage-block.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  border-radius: 6px;
}

#homepage-block h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 3em;
  letter-spacing: -2px;
}

#homepage-block h3 {
  margin-top: 30px;
  text-align: center;
  color: #999999;
  font-size: 1.7em;
  font-weight: 100;
}

#homepage-panels {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.panel {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 25px;
	padding: 50px;
	background-color: #f6f6f6;
	border-radius: 15px;
}

.panel h2 {
	margin-top: 0;
}

#bank.panel,
#investments.panel {
	justify-content: center;
}

#bank.panel h2,
#investments.panel h2 {
	color: #bbbbbb;
}

#bank.panel {
}


/*
 * Customization for the 'About' page
 */
#about {
	width: 75%;
	margin: auto;
	text-align: justify;
}

#about .signature {
	margin-bottom: 100px;
	text-align: right;
	font-weight: bold;
	font-style: oblique;
}


/*
 * Customization for the 'Cards' page
 */
#cards-container {
	display: flex;
	flex-wrap: wrap;
	width: 420px;
	margin: auto;
}
@media screen and (min-width: 1040px) {
	#cards-container {
		width: 840px;
	}
}
@media screen and (min-width: 1460px) {
	#cards-container {
		width: 1260px;
	}
}
@media screen and (min-width: 1880px) {
	#cards-container {
		width: 1680px;
	}
}

.credit-card-block {
	position: relative;
	width: 400px;
	margin: 10px;
	color: inherit;
}

.credit-card-block .card-background {
	width: 100%;
}

.credit-card-block .card-number {
	position: absolute;
	top: 160px;
	left: 50px;
	font-family: "Courier New", Courier, monospace;
	font-size: 20pt;
}


/*
 * Customization for the 'Account Details' page
 */
#account-details {
	margin: 20px auto;
}

#account-info {
	width: 100%;
	border-collapse: collapse;
	font-size: 18pt;
}

#account-info th,
#account-info td {
	padding: 5px 10px;
	vertical-align: top;
}

#account-info th {
	white-space: nowrap;
	text-align: right;
}

#account-info td {
	text-align: left;
}

#account-details form {
	width: 40%;
	margin: 40px auto 0;
}



/*
 * Customization for the 'Update Account' page
 */
form#account #account-field {
	flex-basis: 70%;
	min-width: 320px;
}

form#account #statement-issue-day-field {
	flex-grow: 1;
	min-width: 180px;
}

form#account #statement-due-day-field  {
	flex-grow: 1;
	min-width: 180px;
}


/*
 * Customization for the 'New Card' & 'Update Card' pages
 */
form#card {
	min-width: 500px;
}

form#card #bank-field {
	flex-basis: 65%;
	min-width: 260px;
}

form#card #last-four-digits-field {
	flex-basis: 25%;
	min-width: 150px;
}

form#card #active-field {
	flex-basis: 10%;
	min-width: 60px;
}

form#card #active-field label {
	text-align: center;
}

form#card #secondary-info.hidden {
	display: none;
}

form#card #statement-issue-day-field {
	flex-grow: 1;
}

form#card #statement-due-day-field  {
	flex-grow: 1;
}


/*
 * Customization for the 'Statements' page
 */
#statements-container {
	display: flex;
	justify-content: space-around;
}

#statements-container .card-column {
  display: flex;
  flex-direction: column;
	height: min-content;
	margin: 15px 10px;
	padding: 20px;
  background-color: #e5fbd8;
  border-radius: 15px;
	text-align: center;
	text-transform: uppercase;
}

#statements-container .card-column .digits {
	color: #888888;
}

.statement-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 275px;
	margin: 10px;
	padding: 45px 50px;
  background-color: #eeeeee;
	background-image: linear-gradient(#eeeeee, #e6e6e6);
	border: 2px solid #dddddd;
  border-radius: 10px;
	color: inherit;
	text-decoration: none;
}


.statement-block:hover {
	filter: brightness(0.98);
}

.statement-block .date,
.statement-block .payment {
  display: flex;
	flex-direction: column;
	align-items: center;
}

.statement-block .date .month {
	font-size: 22pt;
  letter-spacing: -1px;
}

.statement-block .date .year {
	font-size: 16pt;
  letter-spacing: 1px;
}

.statement-block .payment .balance {
	font-size: 30pt;
	font-weight: bold;
}

.statement-block .payment .paid-notice {
	font-size: 10pt;
}

/*
 * Customization for the 'Statement Details' page
 */
#statement-details {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
}

#statement-details #statement-info {
	display: flex;
	flex-direction: column;
	padding: 0 50px;
}

#statement-details #statement-info #card {
	margin-bottom: 10px;
	color: #888888;
}

#statement-details #statement-info #issue-date {
	font-size: 28pt;
}

#statement-details #statement-info #balance {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	text-align: center;
	font-size: 72pt;
	font-weight: bold;
	letter-spacing: 1px;
}

#statement-details #statement-info #payment {
	width: 100%;
	min-width: 325px;
	font-size: 12pt;
}

#statement-details #statement-info #due {
	float: left;
	display: flex;
	width: 175px;
}

#statement-details #statement-info #due-date {
	margin-top: -0.5px;
	margin-left: 5px;
	font-weight: bold;
}

#statement-details #statement-info #paid {
	float: right;
}

form#pay {
	clear: left;
	position: relative;
	width: 80%;
	margin: 100px auto;
}

form#pay button,
form#pay input {
	height: 50px;
	margin: 0;
	border: none;
	border-radius: 5px;
}

form#pay #make-payment {
	position: absolute;
	left: 0;
	background-color: green;
	background-image: linear-gradient(90deg, #85bb65, #73a457);
	color: white;
	transition: 0.1s;
}

form#pay #make-payment[type="submit"] {
	left: 80%;
	width: 20%;
	padding: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

form#pay #make-payment[type="submit"] #prompt {
	display: none;
}

form#pay #make-payment[type="button"] .button-icon {
	display: none;
}

form#pay #pay-date {
	width: 80%;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#statement-details table#statement-transactions {
	width: 50%;
}


/*
 * Customization for the 'Transactions' page
 */
table#transactions {
	width: 100%;
	margin: 0 auto;
}


/*
 * Customization for the 'Transaction Details' page
 */
#transaction-details {
	width: 50%;
	margin: 20px auto;
}

#transaction-info {
	width: 100%;
	border-collapse: collapse;
}

#transaction-info th,
#transaction-info td {
	padding: 5px 10px;
	vertical-align: top;
}

#transaction-info th {
	text-align: right;
}

#transaction-info td {
	text-align: left;
}


/*
 * Customization for the 'New Transaction' & 'Update Transaction' pages
 */
form#transaction #bank-field {
	flex-basis: 70%;
}

form#transaction #last-four-digits-field {
	flex-basis: 30%;
	min-width: 150px;
}


/*
 * Customization for the transaction submission page
 */
#receipt {
	width: 31%;
	margin: auto;
}

#receipt-title {
	text-align: center;
}
