{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form id="change-password" method="post">
    <p class="instructions">
      Use this form to change the password for user: <b>{{ g.user.username }}</b>
    </p>

    <label for="password">Current Password</label>
    <input type="password" name="current-password" id="current-password" required>
    <label for="new-password">New Password</label>
    <input type="password" name="new-password" id="new-password" required>
    <input class="button" type="submit" value="Update" />
  </form>

{% endblock %}
