{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% if not config['REGISTRATION'] %}
    <div class="no-registration-notice">
      <b>Notice:</b> The app is not currently accepting new registrations.
    </div>
  {% endif %}

  {% with input_status = 'required' if config['REGISTRATION'] else 'disabled' %}
    <form id="register" method="post">
      <label for="username">Username</label>
      <input name="username" id="username" {{ input_status }}>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" {{ input_status }}>
      <input class="button" type="submit" value="Register" />
    </form>
  {% endwith %}

{% endblock %}
